html {
    font-family: 'Open Sans';
}

.agregar{
    height: 2.5rem;
}

.trim{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bg-super-light{
    background-color:#ebebeb;
}

.tarjetaProducto{
    display: none;
}

.show {
    display: block;
}